<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#" [routerLink]="['']">Logo</a>
  <div class="pull-right">
      <button type="button" class="btn" (click)="crearPolizas()">Crear poliza</button>
      <button type="button" class="btn" (click)="polizasPendientes()">Polizas pendientes</button>
      <button type="button" class="btn" (click)="polizasCerradas()">Polizas cerradas</button>
      <button type="button" class="btn" (click)="subirPolizas()">Subir polizas</button>
      <button type="button" class="btn" (click)="cerrarSesion()">Cerrar sesion</button>
  </div>
</nav>